* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

.sec1 {
    width: 60%;
    margin: auto;
}

.div1 {
    margin-top: 6%;
}

.div1 >h1 {
    font-size: 1.8rem;
    line-height: 1.1;
}

.div2 {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

img {
    height: 100%;
    width: 100%;
    
}

.div2 > div {  
   width: 32%;
}